# WooCommerce API Credentials
WOOCOMMERCE_URL=https://admin.dhart1111.com
WOOCOMMERCE_CONSUMER_KEY=ck_effe293765d3d08415285fa188e0861ca831245c
WOOCOMMERCE_CONSUMER_SECRET=cs_442bc44aa467fd1846a1975f3788dce4a4b0837f

# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Puerto para producción (Dokploy/Railway/Render)
PORT=5000

# CORS - Orígenes permitidos (separados por coma)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Security
SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
